<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Glance - The Spy fm WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Notification - The Spy fm WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>The Spy fm WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>The Spy fm.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D06AEDBC1A3AE4C600E3CD9A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D0B5E9CC1A2E4F96002EF95F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D0B5E9E11A2E4F96002EF95F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D0FD447C1B3DC4BE008AFAC4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D0FD44A01B3DC518008AFAC4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
